@import "tailwindcss";

@theme {
  --spacing-small: clamp(0px, 2vw, 80px);
  --spacing-main: clamp(0px, 4vw, 120px);
  --spacing-large: clamp(0px, 8vw, 150px);
  --color-opacity: #a0a0a0a0;
}
body {
  all: unset;
}

.h1 {
  @apply text-5xl font-bold;
  @apply ml-main;
}

.h2 {
  @apply text-2xl font-bold italic;
  @apply ml-2;
}

.h3 {
  @apply text-xl font-bold;
  @apply ml-5;
}

.h4 {
  @apply italic;
  @apply ml-5;
}

.main-text {
  @apply italic;
}
.head-text {
  @apply font-bold;
}
.anim-grow {
  @apply hover:scale-110 transition-transform;
  @apply ease-in-out duration-200;
}
.header-link {
  @apply text-xl font-bold cursor-pointer;
  @apply sm:opacity-50 hover:opacity-100  hover:scale-110;
  @apply transition-transform duration-200 ease-in-out;
}

.section {
  @apply w-full flex justify-center;
}

.credit {
  @apply backdrop-blur w-fit p-0.5;
  @apply text-xs;
}

.dotborder {
  @apply border-dotted border-black;
}
.modal-container {
  @apply flex flex-col;
  @apply size-full overflow-y-scroll;
  @apply px-main py-large space-y-main;
  @apply bg-white;
  @apply border-dotted border-black border-2;
  @apply p-large;
}
.overlay {
  @apply fixed top-0 left-0 size-full;
  @apply overflow-hidden z-50;
  @apply p-large lg:p-main;
  @apply pb-main lg:pb-small;
  @apply backdrop-blur-[1px];
}

.overlay-close {
  @apply fixed top-large lg:top-main right-large lg:right-main;
  @apply z-52;
  @apply size-large sm:size-main xl:size-small;
  @apply m-small;
  @apply sm:opacity-50 hover:opacity-100  hover:scale-110;
  @apply transition-transform duration-200 ease-in-out;
}
