@import "tailwindcss";

@theme {
  --spacing-small: clamp(0px, 2vw, 80px);
  --spacing-main: clamp(0px, 4vw, 120px);
  --spacing-large: clamp(0px, 8vw, 150px);
  --color-opacity: #a0a0a0a0;
}
body {
  all: unset;
}

.h1 {
  @apply text-5xl font-bold;
  @apply ml-main;
}

.h2 {
  @apply text-2xl font-bold italic;
  @apply ml-2;
}

.h3 {
  @apply text-xl font-bold;
  @apply ml-5;
}

.h4 {
  @apply italic;
  @apply ml-5;
}

.main {
  @apply italic;
}
.head {
  @apply font-bold;
}

.header-link {
  @apply text-xl font-bold cursor-pointer;
}

.section {
  @apply w-full flex justify-center;
}

.overlay {
  @apply fixed top-0 left-0 size-full z-50 p-large;
  @apply overflow-y-scroll;
  @apply backdrop-blur-[1px];
}

.credit {
  @apply backdrop-blur w-fit p-0.5;
  @apply text-xs;
}

.dotborder {
  @apply border-dotted border-black;
}
.modal-container {
  @apply flex flex-col ;
  @apply h-fit min-h-full w-full;
  @apply p-main space-y-main;
  @apply bg-white;
  @apply border-dotted border-black border-2;
  @apply p-large;
}
